| {% extends 'base.html' %}

| {% block title %}Авторизация{% endblock title %}

| {% block main %}
section.login.container-fluid
  div.container-fluid
    form(action="{% url 'main:login' %}" method="post").mx-auto
      h2 Авторизация 
      | {% if form.errors %}
      div.mb-3
        p.text-danger произошла ошибка
      | {% endif %}
      | {% csrf_token %}
      | {% for field in form %}
      div.mb-3
        label(class="form-label" for="{{ field.auto_id }}") {{ field.label }}
        | {{ field }}
      | {% endfor %}
      button(type="submit" class="btn btn-primary") Залогиниться
| {% endblock main %}