| {% extends 'base.html' %}

| {% block title %}Регестрация{% endblock title %}

| {% block main %}
section.register.container-fluid
  div.container-fluid
    form(method="POST" action="{% url 'register' %}").register.mx-auto
      h2 Регестрация
      | {% if form.errors %}
      div.mb-3
        p.text-danger произошла ошибка
      | {% endif %}
      | {% csrf_token %}
      | {% for field in form %}
      div.mb-3
        label(class="form-label" for="{{ field.auto_id }}") {{ field.label }}
        | {{ field }}
      | {% endfor %}
      div
        button(type="submit" class="btn btn-primary") Зарегаться
| {% endblock main %}