| {% extends 'base.html' %}

| {% block title %}Секция {{section.title}}{% endblock title %}

| {% block main %}
section.section.mx-auto
  h1 {{section.title}}
  div
    | {% if themes %}
    |  {% for t in themes %}
    div.theme.px-2
      h2
        a(href="{% url 'main:theme' t.pk %}" class="text-light text-decoration-none") {{t.title}}
    |  {% endfor %}
    | {% else %}
    h1.display-5 тут пусто
    | {% endif %}
| {% endblock main %}