
{% extends 'base.html' %}
{% block title %}Авторизация{% endblock title %}
{% block main %}
<section class="login container-fluid">
  <div class="container-fluid">
    <form class="mx-auto" action="{% url 'main:login' %}" method="post">
      <h2>Авторизация </h2>{% if form.errors %}
      <div class="mb-3">
        <p class="text-danger">произошла ошибка</p>
      </div>{% endif %}
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>{{ field }}
      </div>{% endfor %}
      <button class="btn btn-primary" type="submit">Залогиниться</button>
    </form>
  </div>
</section>{% endblock main %}