
{% extends 'base.html' %}
{% block title %}Регестрация{% endblock title %}
{% block main %}
<section class="register container-fluid">
  <div class="container-fluid">
    <form class="register mx-auto" method="POST" action="{% url 'main:register' %}">
      <h2>Регестрация</h2>{% if form.errors %}
      <div class="mb-3">
        <p class="text-danger">произошла ошибка</p>
      </div>{% endif %}
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>{{ field }}
      </div>{% endfor %}
      <div>
        <button class="btn btn-primary" type="submit">Зарегаться</button>
      </div>
    </form>
  </div>
</section>{% endblock main %}