
{% extends 'base.html' %}
{% block title %}Регестрация{% endblock title %}
{% block main %}
<section class="register container-fluid">
  <div class="container-fluid">
    <form class="register mx-auto">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-3">
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>{{ field }}
      </div>{% endfor %}
      <div>
        <button class="btn btn-primary" type="submit">Зарегаться</button>
      </div>
    </form>
  </div>
</section>{% endblock main %}